.btn {
  border: 2px solid $black;
}
.show-button {
  background-color: $white;
  color: $wine;
}
.edit-button {
  background-color: $pink;
  color: $black;
}
.delete-button {
  background-color: $magenta;
  color: $white;
}
.read-more {
  color: $magenta;
  padding: 0.4em;
}
.read-more-wrapper {
  margin: 1em 0em 0.4em 0em;
}
.blog-content {
  color: $black;
}
.blog-body {
  font-size: 2em;
  background-color: $white;
  padding: 1em 2em;
}
.blog-body-preview {
  font-size: 1.4em;
  margin: 1em 0em;
}

.read-more:hover, .btn:hover {
  background-color: $wine;
  color: $white;
  text-decoration: none;
}
