.navbar {
  background-color: $wine;
}
.navbar-brand {
  font-family: $brandFont;
  font-weight: 600;
  font-size: 1.8em;
  color: $white;
}
nav {
  font-size: 1.7em;
  font-family: $mainFont;
  color: $white;
}
.nav-link {
  color: $white;
}
