.navbar {
  background-color: $wine;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}
.navbar-brand {
  font-family: $brandFont;
  font-weight: 600;
  font-size: 1.8em;
  color: $white;
  background-color: $wine;
}
nav {
  font-size: 1.7em;
  font-family: $mainFont;
  color: $white;
}
.nav-link {
  color: $white;
}
.dropdown-item {
  color: $wine;
}
.dropdown-menu {
  background-color: $white;
}
.nav-link:hover {
  text-decoration: none;
  color: $pink;
}
.navbar-brand:hover {
  color: $pink;
}
.dropdown-item:hover {
  color: $black;
  background-color: $pink;
}
